<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <h1 class="centered"><input name="name" type="text" value="{{item.name}}" placeholder="Nazwa Przedmiotu" /></h1>
  </header>

  <section class="sheet-body">
    <div class="item-details">
      <div class="form-group">
        <label>Stal:</label>
        <input type="number" name="system.attributes.machine" value="{{system.attributes.machine}}" min="1" max="10" />
      </div>
      <div class="form-group">
        <label>Inżynieria:</label>
        <input type="number" name="system.attributes.engineering" value="{{system.attributes.engineering}}" min="1" max="10" />
      </div>
      <div class="form-group">
        <label>Intryga:</label>
        <input type="number" name="system.attributes.intrigue" value="{{system.attributes.intrigue}}" min="1" max="10" />
      </div>
    </div>
  </section>
</form>