<div class="meta-currency-content">
  <div class="meta-row">
    <span>{{localize "COGSYNDICATE.metacurrency.nemesisPoints"}}</span>
    <div class="meta-controls">
      <button type="button" class="metacurrency-decrement small-btn" data-key="nemesisPoints">-</button>
      <input type="number" class="meta-value-input" data-key="nemesisPoints" value="{{metacurrencies.nemesisPoints.value}}" min="0" max="100">
      <button type="button" class="metacurrency-increment small-btn" data-key="nemesisPoints">+</button>
    </div>
  </div>
  <div class="meta-row">
    <span>{{localize "COGSYNDICATE.metacurrency.steamPoints"}}</span>
    <div class="meta-controls">
      <button type="button" class="metacurrency-decrement small-btn" data-key="steamPoints">-</button>
      <input type="number" class="meta-value-input" data-key="steamPoints" value="{{metacurrencies.steamPoints.value}}" min="0" max="100">
      <button type="button" class="metacurrency-increment small-btn" data-key="steamPoints">+</button>
    </div>
  </div>
  
  <div class="meta-buttons-row">
    <button type="button" class="spend-np-btn meta-spend-btn" {{#unless canSpendNP}}disabled{{/unless}}>
      {{localize "COGSYNDICATE.metacurrency.spendNP"}}
    </button>
    <button type="button" class="spend-sp-btn meta-spend-btn">
      {{localize "COGSYNDICATE.metacurrency.spendSP"}}
    </button>
  </div>
  
  {{#if canSpendNP}}
  <div class="meta-gm-controls">
    <button type="button" class="reset-stress-uses-btn gm-control-btn">
      {{localize "COGSYNDICATE.metacurrency.resetStressUses"}} ({{stressUsesLeft}}/3)
    </button>
  </div>
  {{/if}}
</div>