<div class="spend-points-dialog spend-np-dialog">
  <div class="dialog-content">
    
    <div class="action-section">
      <h3>{{localize "COGSYNDICATE.metacurrency.actions1NP"}}</h3>
      <div class="action-options">
        <label class="action-option">
          <input type="radio" name="npAction" value="1a" data-cost="1">
          <span>{{localize "COGSYNDICATE.metacurrency.action1a"}}</span>
        </label>
        <label class="action-option">
          <input type="radio" name="npAction" value="1b" data-cost="1">
          <span>{{localize "COGSYNDICATE.metacurrency.action1b"}}</span>
        </label>
        <label class="action-option">
          <input type="radio" name="npAction" value="1c" data-cost="1">
          <span>{{localize "COGSYNDICATE.metacurrency.action1c"}}</span>
        </label>
        <label class="action-option">
          <input type="radio" name="npAction" value="1d" data-cost="1">
          <span>{{localize "COGSYNDICATE.metacurrency.action1d"}}</span>
        </label>
      </div>
    </div>

    <div class="action-section">
      <h3>{{localize "COGSYNDICATE.metacurrency.actions2NP"}}</h3>
      <div class="action-options">
        <label class="action-option">
          <input type="radio" name="npAction" value="2a" data-cost="2">
          <span>{{localize "COGSYNDICATE.metacurrency.action2a"}}</span>
        </label>
        <label class="action-option">
          <input type="radio" name="npAction" value="2b" data-cost="2">
          <span>{{localize "COGSYNDICATE.metacurrency.action2b"}}</span>
        </label>
        <label class="action-option">
          <input type="radio" name="npAction" value="2c" data-cost="2">
          <span>{{localize "COGSYNDICATE.metacurrency.action2c"}}</span>
        </label>
      </div>
    </div>

    <div class="action-section">
      <h3>{{localize "COGSYNDICATE.metacurrency.actions3NP"}}</h3>
      <div class="action-options">
        <label class="action-option">
          <input type="radio" name="npAction" value="3a" data-cost="3">
          <span>{{localize "COGSYNDICATE.metacurrency.action3a"}}</span>
        </label>
        <label class="action-option">
          <input type="radio" name="npAction" value="3b" data-cost="3">
          <span>{{localize "COGSYNDICATE.metacurrency.action3b"}}</span>
        </label>
        <label class="action-option">
          <input type="radio" name="npAction" value="3c" data-cost="3">
          <span>{{localize "COGSYNDICATE.metacurrency.action3c"}}</span>
        </label>
        <label class="action-option">
          <input type="radio" name="npAction" value="3d" data-cost="3">
          <span>{{localize "COGSYNDICATE.metacurrency.action3d"}}</span>
        </label>
      </div>
    </div>
    
  </div>
</div>
