<div class="spend-gear-content">
  <h3>{{localize "COGSYNDICATE.SpendGearTitle"}}</h3>
  <div class="gear-options">
    <div class="gear-option">
      <input type="radio" id="gear-light" name="gearType" value="light" data-cost="1" data-steam="0">
      <label for="gear-light">{{localize "COGSYNDICATE.GearLight"}} - 1 {{localize "COGSYNDICATE.GearPoint"}}</label>
    </div>
    <div class="gear-option">
      <input type="radio" id="gear-medium" name="gearType" value="medium" data-cost="2" data-steam="0">
      <label for="gear-medium">{{localize "COGSYNDICATE.GearMedium"}} - 2 {{localize "COGSYNDICATE.GearPoints"}}</label>
    </div>
    <div class="gear-option">
      <input type="radio" id="gear-heavy" name="gearType" value="heavy" data-cost="3" data-steam="0">
      <label for="gear-heavy">{{localize "COGSYNDICATE.GearHeavy"}} - 3 {{localize "COGSYNDICATE.GearPoints"}}</label>
    </div>
    <div class="gear-option">
      <input type="radio" id="gear-very-heavy" name="gearType" value="very-heavy" data-cost="4" data-steam="1">
      <label for="gear-very-heavy">{{localize "COGSYNDICATE.GearVeryHeavy"}} - 4 {{localize "COGSYNDICATE.GearPoints"}} + 1 {{localize "COGSYNDICATE.SteamPoint"}}</label>
    </div>
  </div>
  <div class="error-message" style="display: none; color: red; text-align: center; margin-top: 10px;"></div>
</div>